<%- include('partials/header', { titulo: 'Servicios' }) %>
<main>
      <section class="servicios-precios-section">
        <div class="servicios-precios-container">
          <h2 class="servicios-precios-title">Nuestros Servicios y Precios</h2>
          <div id="servicios-dinamicos" class="servicios-precios-cards"></div>
        </div>
      </section>
</main>
<%- include('partials/footer') %>